openapi: "3.0.0"
info:
  title: "Prompt Rewriter API"
  description: "This API accepts an input prompt and returns an apt kql query which is generated by a agentic fraamework which can be run."
  version: "1.0.0"
servers:
  - url: "https://cybernxxt.com:8080"
paths:
  /agent:
    post:
      summary: "Generates kql using Agents"
      operationId: "agentickql"
      requestBody:
        description: "The original prompt that needs to be converted to a kql"
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                input_prompt:
                  type: "string"
                  description: "The input prompt to be given as a string that describes the requirements of a kql"
              required:
                - "input_prompt"
      responses:
        "200":
          description: "Successfully returned a kql"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  RAG_response:
                    type: "string"
                    description: "The kql generated by the agentic framework."
        "500":
          description: "An error occurred while generating a kql"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  detail:
                    type: "string"
                    description: "Error message."

# New: Components and Security definition
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: access-token

security:
  - ApiKeyAuth: []