<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Generate Auth Token</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Generate Auth Token</h1>
        <span>
            <form action="/generate" method="post">
                <button type="submit">Generate Token</button>
            </form> <br>
            <form action="/tokens" method="get">
                <button type="submit">Manage Tokens</button>
            </form>
        </span>
    </div>
</body>
</html>
